#myheader {
  font-family: fantasy;
  text-align: center;
  font-size: 100px;

}

#HS {
width: 300px;
height: 500px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;


}

#p1 {
width: 300px;
height: 600px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
float: left;

}

#Infointro {
  text-align: center;
  font-size: 50px

}

.container {

  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: left;
}

.well{
  display: block;
  background-color: aqua;
  text-align: center;

}

.jumbotron {
  background-color: aliceblue;
}

#lk {
  color: purple;
}

#welcome {
text-align: center;
font-family: fantasy;
font-size: 20px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

body {
  background-color: aqua;
}
